body{
    background-color: maroon;
}
.link1{
    margin-top: 80px;
    margin-left: 40%;
    background-color: rgb(0, 54, 91);
    height: 25px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px black;
}
.link1 a{
    text-decoration: none;
    color: aliceblue;
}
#name1{
    font-size: 25px;
}


.link2{
    margin-top: 80px;
    margin-left: 40%;
    background-color: rgb(0, 54, 91);
    height: 25px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px black;
}
.link2 a{
    text-decoration: none;
    color: aliceblue;
}